/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Interactive Photo Gallery
Version:	0.0.1
Author: 	@WebDesignerBen
URI:		https://github.com/BenAttenborough/interactive-ghoto-gallery

--------------------------------------------------------------------

[Table of Contents]

---GENERAL---
---TYPOGRAPHY---
---LAYOUT---
---ELEMENTS---
---CLEARFIX---
---MEDIA QUERIES---
	---TABLET AND ABOVE---

Note: Project employs mobile-first philosophy, main styles are for
mobile then views are progressively enchanced for tablet and
desktop

-------------------------------------------------------------------*/

@import "manifest";