/*
 *---LAYOUT---
 */

header {
  width: 100%;
  padding: 1px 0 1em;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(214,214,214,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(214,214,214,1);
  box-shadow: 0px 3px 5px 0px rgba(214,214,214,1);
  z-index: 100;
}

html {
  min-height: 100%;
}

body {
  position: relative;
  //background-color: red;
  margin: 0;
  height: 100%;
}

#wrap {
  min-height: 100vh;
}

.main-container {
  width: 100%;
  /* Specs said this container should be 980px.
   * Because we are adding 30px padding to both side of the images this width will
   * need to be 60px larger. Hopefully this won't cause the project to fail.
   */
  max-width: 1040px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 30px;
}

/* SEARCH */

.search {
  padding-top: 1px;
}

.search__form {
  text-align: center;
  margin: 1em 0;
}

.search__form__input {
  font-size: 16pt;
  border: solid 1px black;
}

/*
 *---ELEMENTS---
 */

.pictures {
  text-align: center;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.pictures ul {
  padding: 30px 60px;
}

.pictures li {
  list-style: none;
  margin-bottom: 60px;
  display: inline-block;
  width: 100%;
}

.pictures img {
  width: 100%;
}

.media-container {
  height: 50vh;
}

.item-image {
  //background-color: gray;
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.item-title {
  //background-color: #777777;
  height: 5em;
  overflow: hidden;
}

/*
 * OVERLAY
 *
 * A hidden overlay displayed using jQuery when a user clicks on an image
*/

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  z-index: 200;
}

#overlay .col-prev,
#overlay .col-next {
  width: 20%;
  height: 100%;
  float: left;
  padding-top: 20vh;
}

#overlay .col-main {
  width: 60%;
  height: 100%;
  float: left;
}

#overlay .col-main img {
  /*display: block;*/
  width: 100%;
  margin-top: 5%;
  /*margin: 10% auto;*/
}

#overlay .nav-btn {
  display: block;
  margin: auto;
  margin-top: 100%;
}

#overlay p {
  text-align: center;
  color: white;
}

#api {
  margin-bottom: 0.5em;
}

#closeBtn {
  background-color: #333333;
  color: white;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 3px solid white;
  height: 1.5em;
  width: 1.5em;
  float: right;
  text-align: center;
  padding: auto;
  padding-top: 3px;
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em 0.5em 0 0;
}

@media (min-width: 500px) {

  .pictures ul {
    padding: 30px;
  }

  .pictures li {
    width: 50%;
    float: left;
    padding: 0 30px;
  }

  .search__form__input  {
    width: 460px;
  }
}

@media (min-width: 800px) {

  .pictures li {
    width: 33.33333%;
  }

}

@media (min-width: 1000px) {

  .pictures li {
    width: 25%;
  }

}